<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>linked_git_js</title>
    <style>
		#app>* {
		  font-family: 'Avenir', Helvetica, Arial, sans-serif;
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
		  text-align: center;
		  color: #2c3e50;
		  margin-top: 60px;
		  width: 50%;
		  display: flex;
		  flex-direction: column;
		  margin: auto;
		}

		h1, h2 {
		  font-weight: normal;
		}
	</style>
  </head>
  <body>
  	<div id="app">
  		<User v-if="authed"></User>
	    <Login v-if="!authed"></Login>
	</div>
    <script src="./dist/build.js"></script>
  </body>
</html>
